<div class="btn-group row">
<p>Formulaires</p>
     <a href="https://financetoimieux.typeform.com/to/seakzh?user=<%=currentUser.username%>&name=<%=currentUser.name%>" class="btn btn-primary" target="_blank">Retour sur rencontre</a>
     <a href="https://financetoimieux.typeform.com/to/eGESTs?channel=intranet" class="btn btn-success" target="_blank">Offre bancaire étudiante</a>
  </div>

  <% if(currentUser.region=="Gatineau"){ %>
    <a href="">Tableau de suivi <%=currentUser.region %> </a>
  <%} %>

  <% if(currentUser.region=="Montreal"){ %>
    <a href="">Tableau de suivi <%=currentUser.region %> </a>
  <%} %>


