<div class="btn-group">
     <a href="https://financetoimieux.typeform.com/to/seakzh?user=<%=currentUser.username%>&name=<%=currentUser.name%>" class="btn btn-primary" target="_blank">Retour sur rencontre</a>
     <a href="https://financetoimieux.typeform.com/to/eGESTs?channel=intranet" class="btn btn-success" target="_blank">Offre bancaire étudiante</a>
     <a href="https://datastudio.google.com/open/1VEfek3Nd5IyBo3q7xv2W7-4zIdOQPLCs" class="btn btn-info" target="_blank">Suivi concours GFTM</a>
     <a href="https://datastudio.google.com/open/1uPo7fE9qP-EeiwpKVEhW4y1Y2cZWUDHP" class="btn btn-info" target="_blank">Suivi réf pour GFTM</a>
     <a href="https://datastudio.google.com/u/0/reporting/1Mfk6so3U291DobsUD6dS9z0xvGk9sgOe/page/ES6M" class="btn btn-primary" >Tableau de bord - suivi de rendez-vous</a>
  </div>

