<% include partials/header %>        


<div class="container">
            <img class="img-responsive img-circle" src="/vince.png" alt="Vincent" title="Vincent Gagnon" width="300" >
            <div class="intro-text">
                <h1>Vincent Gagnon</h1>
                <hr class="star-light">
                <span class="skills">Développeur web - Stratège en développement d'affaires technologiques - Organisateur d'événements </span>
            </div>
            <div class="social">
                <h5>Ailleurs sur le web</h5>
                <ul class="list-inline">
                    <li><a href="http://twitter.com/vincent_gagnon5" class="btn-social btn-outline" title="Twitter"><span class="fa fa-fw fa-twitter"></span></a>
                    </li>
                    <li><a href="https://ca.linkedin.com/in/vincentgagnon5" class="btn-social btn-outline" title="LinkedIn"><span class="fa fa-fw fa-linkedin"></span></a>
                    </li>
                    <li><a href="http://github.com/doodlegoo" class="btn-social btn-outline" title="GitHub"><span class="fa fa-fw fa-github"></span></a>
                    </li>
                </ul>

        </div>

<% include partials/footer%>
