<DOCTYPE HTML>
    <html>
    <header>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <link rel="stylesheet" href="style.css" type="text/css" media="all" />
        <script src="d3.js" type="text/javascript" charset="utf-8"></script>
        <title>This is the title</title>
    
    </header>
    <body>
        <h1>Things i've learned</h1>
        <h2>internet basics</h2>
        <ol>
            <li>HTTP request</li>
            <li>IP adress</li>
            <li>servers</li>
        </ol>
        
        <h2>HTML</h2>
        <ul>
            <li>Stands for <strong>html</strong></li>
            <li>lot of tags
                <ul>
                    <li>boileplate
                    <ol>
                        <li>doctype</li>
                        <li>HMTL</li>
                        <li>head
                            <ul>
                                <li>Title</li>
                            </ul>
                        </li>
                        <li>body</li>
                    </ol></li>
                    <li>headings</li>
                    <li>para</li>
                    <li><em>em</em></li>
                    <li><strong>strong</strong></li>
                </ul>
            </li>
        </ul>
        lorem
<%= sparta %>
    </body>
    </html>
