<div class="container">
		  
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <section class="login-form">
	<form role="login" id="signinForm">
	  <img src="img/ftm-logo.png" class="img-responsive" alt="" />
	  <input type="email" id="emailInputSignin" name="email" value="sourire@financetoimieux.com" required class="form-control input-lg"  />
	  <input type="password" id="passwordInputSignin" class="form-control input-lg" placeholder="Password" required=".*" />				  
          <div class="pwstrength_viewport_progress"></div>			  
          <button type="submit"  class="btn btn-lg btn-primary btn-block">Sign in</button>
    <div>
  <a href="register.html">Create account</a> or <a href="reset.html">reset password</a>
</div>
