<h1>signup</h1>

<form action="/signup" method="POST" role="login" id="signinForm">
  <img src="img/ftm-logo.png" class="img-responsive" alt="" />
  <input type="email" id="emailInputSignin" name="username" value="sourire@financetoimieux.com" required class="form-control input-lg"  />
  <input type="name" id="name" name="name" class="form-control input-lg" placeholder="name" required=".*" />
 
  <input type=""password id="passwordInputSignin" name="password" class="form-control input-lg" placeholder="Password" required=".*" />
  <input type="role" id="role" name="role" class="form-control input-lg" placeholder="role" required=".*" />
  <input type="region" id="region" name="region" class="form-control input-lg" placeholder="region" required=".*" />
  <select id="organisation" name="organisation" class="form-control">
        <option selected>...</option>
        <option>Investors</option>
        <option>PPTA</option>
        <option>FTM</option>
        <option>GestionFTM</option>
      </select>

  <div class="pwstrength_viewport_progress"></div>
				  
  <button type="submit"  class="btn btn-lg btn-primary btn-block">Sign in</button>
<div>
<a href="register.html">Create account</a> or <a href="reset.html">reset password</a>
				  </div>

