<% include partials/ftm-head.ejs %>


<div class="col-md-2"></div>
			
<div class="col-md-8">
  <section class="userpage">
     <div class="row">
       <img src="ftm.png" class="img-responsive center-block" alt="ftm-logo" />
     </div>
     <h1> Salut <%=currentUser.name %></h1>
<% if(currentUser.role=="directeur" || currentUser.role=="god" ){ %>
  <% include partials/directeur.ejs %>
<div class="row">
<p>Ressources FTM</p>
    <a class="btn-warning" href="http://www.afe.gouv.qc.ca/prets-et-boursesetudes-a-temps-plein/calcul-de-laide/simulateur-de-calcul" class="btn" target="_blank">Lien vers l'AFE</a>
</div>

<% } %>



<% if(currentUser.role=="conseiller"|| currentUser.role=="god"  ){ %>
  <% include partials/conseiller.ejs %>
<div class="row">
<p>Ressources FTM</p>
    <a class="btn-warning" href="http://www.afe.gouv.qc.ca/prets-et-boursesetudes-a-temps-plein/calcul-de-laide/simulateur-de-calcul" class="btn" target="_blank">Lien vers l'AFE</a>
</div>




<%} %>

<% if(currentUser.role=="partenaire"|| currentUser.role=="god"  ){ %>
  <% include partials/partenaire.ejs %>
<% } %>

<% if(currentUser.role=="god"){ %>
        <p> Salut vince </p>
<% } %>


<div class="row m-5">
<p>Liens utiles</p>
<ul class="nav nav-pills nav-stacked">
  <li class=""><a href="https://secure.kronos-web.com/" class="" target="_blank">Accéder à Kronos</a></li>
  <li class=""><a href="https://gestionftm.facebook.com/" class="" target="_blank">Accéder à Workplace</a></li>
  <li class=""><a href="https://financetoimieux.ca/" class="" target="_blank">Accéder à Financetoimieux</a></li>
</ul>
</div>


<div class="row">
  This is your userpage -- <a href="/logout" class="btn btn-danger">Logout</a>
</div>
  </section>  

</div>

<div class="col-md-2"></div>
