<% include partials/ftm-head.ejs %>


<div class="col-md-4"></div>
			
<div class="col-md-4">
  <section class="userpage">
     <img src="http://www.financetoimieux.com/assets/img/shared/layout/logo-finance-toi-mieux-fr@2x.png" class="img-responsive" alt="ftm-logo" />
     <h1> Salut <%=currentUser.name %></h1>
<% if(currentUser.role=="directeur" || currentUser.role=="god" ){ %>
  <% include partials/directeur.ejs %>

<% } %>



<% if(currentUser.role=="conseiller"|| currentUser.role=="god"  ){ %>
  <% include partials/conseiller.ejs %>
<%} %>

<% if(currentUser.role=="god"){ %>

<%} %>




<ul class="nav nav-pills nav-stacked">
  <li class=""><a href="https://secure.kronos-web.com/" class="" target="_blank">Accéder à Kronos</a></li>
  <li class=""><a href="https://gestionftm.facebook.com/" class="" target="_blank">Accéder à Workplace</a></li>
  <li class=""><a href="https://financetoimieux.ca/" class="" target="_blank">Accéder à Financetoimieux</a></li>
</ul>

<div>
  This is your userpage -- <a href="/logout" class="btn btn-danger">Logout</a>
</div>
  </section>  

</div>

<div class="col-md-4"></div>
